
<h2 class="text-center alert-warning" style="color: #16243E">About Boutique Estate Agency</h2>


<div class="panel panel-default profile">
    <div class="panel-heading">
        <h3 class="panel-title" style="color: #16243E"><strong>OUR STRATEGY</strong></h3>
    </div>
    <div class="panel-body profileDesc">
        <p>Boutique Estate Agency will represent a genuine hands on approach which will lead the way in local real estate services. Located on the border of Dandenong North and Mulgrave whilst covering a wide network of suburbs from Clayton right through to Berwick makes Boutique Estate Agency able to cater to a large portion of the south eastern suburbs.</p>
        <p>We have identified our most active buyers and sellers and implemented a "premium service strategy" of which you are one!</p>
        
        <h4>Our Location</h4>
        <iframe width="600" height="450" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB5gdbf1Pe98MPt9hrPn_tvAARWR4L-USE&q=53+Somerset+Drive,Dandenong+North,Vic+3175"></iframe>
    </div>
</div>




<h2 class="text-center alert-warning" style="color: #16243E">Our Team</h2>
<br/><br/>
<div class="row">
    <img src="~/Images/jointDetails.JPG" class="img-thumbnail col-sm-8 col-sm-offset-2" />
</div>

<div class="panel panel-default profile" >
    <div class="panel-heading" >
        <h3 class="panel-title" style="color: #16243E"><strong>SURAJ SAMARANAYAKE</strong></h3>
        <h4 class="panel-title" style="color: #16243E;">Director</h4>
    </div>
    <div class="panel-body profileDesc" >
        <img src="~/Images/Suraj.jpg" class="img-thumbnail img-responsive pull-left" style="width:150px; display: inline-block; margin: 0 30px 30px 0" />
        <p>Since purchasing his first property at the age of 21, Suraj has gained valuable experiences from both buying and selling numerous properties in the area. As a result of being a customer in a number of real estate transactions, Suraj understands and empathises with his clients emotions when assisting them to deal with their real estate matters.</p>
        <p>With an undeniable passion for real estate and an equally genuine approach has been the perfect formulae to able Suraj to become a key player in the local real estate scene. Having a large network of both buyers and sellers has always assisted Suraj to get any job done with the best possible outcome.</p>
        <p>Suraj has assisted a countless amount of clients in the local area to achieve their real estate dreams by providing the best advice, service and outcomes from their property transactions. </p>
        <p>After many years of listening and understanding what’s best for his clients, Suraj’s simple straight forward approach makes him a fair and honest agent to deal with.</p>
        <p>The exciting next chapter was always to own and operate his own real estate agency after many years of experience within the area. This dream was fulfilled with the opening of Boutique Estate Agency in 2014.</p>
        <p>Now as the director of the most dynamic and professional agencies in the area makes Suraj an obvious choice when choosing the right agent.</p>
        <p><em>With a hard work ethic and a relentless drive for success, make sure your first choice, is the correct choice.</em></p>
    </div>
</div>


<div class="panel panel-default profile" >
    <div class="panel-heading">
        <h3 class="panel-title" style="color: #16243E"><strong>THINH HUYNH</strong></h3>
        <h4 class="panel-title" style="color: #16243E;">Direcor</h4>
    </div>
    <div class="panel-body profileDesc">
        <img src="~/Images/Thinh.jpg" class="img-thumbnail img-responsive pull-left" style="width: 150px; display: inline-block; margin: 0 30px 30px 0" />
        <p>Whether it is perfectly matching a buyer with their dream home, or negotiating for his sellers to obtain the best possible price, you can rest assure that Thinh Huynh will be making sure that any job is always done the right way. This relentless hunger for satisfying his clients combined with his contagious positive attitude makes Thinh a very popular real estate figure within the area.</p>
        <p>Living in the South Eastern suburbs all his life and having a strong sense of family and church values makes Thinh a very driven yet humble and likeable character. </p>
        <p>Thinh understands the evolving community values and generational changes which flow from the migrant experience. Being fluent in many languages has greatly assisted Thinh to connect and make sure clients achieve their property goals.</p>
        <p>The exciting next chapter was always to own and operate his own real estate agency after many years of experience within the area. This dream was fulfilled with the opening of Boutique Estate Agency in 2014.</p>
        <p>Now as the director of the most dynamic and professional agencies in the area makes Thinh an obvious choice when choosing the right agent.</p>
        <p><em>One of the most genuine ‘nice guys’ of the local real estate industry and a person who will make sure to always get the job done.</em></p>
    </div>
</div>

<div class="panel panel-default profile">
    <div class="panel-heading">
        <h3 class="panel-title" style="color: #16243E"><strong>ROGER LEMKE</strong></h3>
        <h4 class="panel-title" style="color: #16243E;">Independent Auctioneer Specialist </h4>
    </div>
    <div class="panel-body profileDesc">
        <img src="~/Images/Roger.jpg" class="img-thumbnail img-responsive pull-left" style="width: 150px; display: inline-block; margin: 0 30px 30px 0" />
      
        <p>Having been a Real Estate Agency Owner, Director, Manager, Auctioneer and a professional opera performer makes Roger well equipped to tackle any challenges an auction and a large audience may create. </p>
        <p>Roger Lemke is one Melbourne’s most experienced and respected real estate auctioneers. With a history of successful auction outcomes across from the Mornington Peninsula right through to the south eastern suburbs for over 10 years, Roger has the acumen, aptitude and a comprehensive knowledge of the market together with outstanding negotiation abilities essential in bringing the entire auction process to a successful conclusion.  </p>
        <p><em>Roger’s highly developed skills provide a level of experience unmatched in the market and together with the Boutique Estate Agency experience makes this a combination to deliver high results everytime.</em></p>
        <br/>
        <p>Contact Roger Directly on – 0416 298 887 or <a href="info@rogerlemke.com.au">info@rogerlemke.com.au.</a> </p>
    </div>
</div>
