
<h2 class="text-center alert-warning" style="color: #16243E">Sold Property</h2>

<div class="panel panel-default profile">
    <div class="panel-heading">
        <h3 class="panel-title" style="color: #16243E"><strong>12 Coolidge court Dandenong North</strong></h3>
        <h4 class="panel-title" style="color: #16243E;">Quality and Class</h4>
    </div>
    <div class="panel-body profileDesc">
        
        
        
        
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Images/Coolidge12/12%20Coolidge%20pic.jpg" />
                </div>
                <div class="item">
                    <img src="~/Images/Coolidge12/12%20Coolidge%20pic%202.jpg" />
                </div>
                <div class="item">
                    <img src="~/Images/Coolidge12/12%20Coolidge%20pic%203.jpg" />
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        
        <p></p>

        <p>There is simply no other way to describe this superb residence situated in an exclusive pocket of Dandenong North. This grand home offers uncompromised space, luxury living and style making it one of the area's most prestigious sought after homes which could be your ideal next move, All on a large block of over 620sqm. </p>
        <p>Suiting all types of buyers searching for an exquisite property offering more space and accommodation - this stunning family home has been fastidiously updated and maintained over the years and now needs a new owner to begin its next chapter.</p>
        <p>All the hard work has been done with only quality in mind as you appreciate the huge living area which further leads to a stunning modern chefs kitchen complete with all upgrades and ample bench spaces whilst all overlooking a second living/meals. The four spacious bedrooms are accompanied by a new central bathroom together with an updated full ensuite in the master bedroom.</p>
        <p>Add to this a relaxed open outdoor entertainment area, complete with a BBQ/outdoor kitchen and a undercover spa perfect for entertaining or relaxing with the family. Your rear yard is highlighted by a huge custom designed double garage with its own toilet and work area making it ideal for the home handy person or any car enthusiast. Outside the trend continues with a superb low maintenance garden both front and back whilst having plenty of room for the kids to enjoy.</p>
    </div>
</div>

<div class="panel panel-default profile">
    <div class="panel-heading">
        <h3 class="panel-title" style="color: #16243E"><strong>5 Inala Court Mulgrave</strong></h3>
    </div>
    <div class="panel-body profileDesc">
        <p>Classically comfortable and proudly maintained by the same family for many years is this solid family home. Fantastically positioned in a quite court location, this brick beauty will continue to please as you walk through the doors and see the fabulous layout and the unique character at hand. Combining both modern fixtures with original features from front to back which just further ads to the warm homely feel throughout the home from the moment you step inside. </p>
        <p>Wether it's the two separate master bedrooms equipped with full ensuite's or if it's the large split level living and dining areas, this 4 bedroom home is sure to be attractive to the all buyers. To top it all off is a beautiful kitchen with gas appliances, ample bench, cupboard spaces and dishwasher all bathed with natural sunlight whilst also consisting an updated central bathroom that was renovated with only quality in mind.</p>

    </div>
</div>


<div class="panel panel-default profile">
    <div class="panel-heading">
        <h3 class="panel-title" style="color: #16243E"><strong>3 Salford Court Mulgrave</strong></h3>
        <h4 class="panel-title" style="color: #16243E;">More than just a Charming Home</h4>
    </div>
    <div class="panel-body profileDesc">
        <p>This location, this size, this quality home offered for the first time, makes this a must see for everyone and anyone looking for a wonderful family home.</p>
        <p>With multiple indoor and outdoor living spaces, this home offers space often required by growing families and all types of buyers. The multiple living areas are all accompanied by three large bedrooms and a new central bathroom.</p>
        <p>Walk through the corridor with a formal lounge and a spacious bedroom on either side which leads to an updated kitchen complete with gas and electrical appliances, ample bench spaces and dishwasher, all with a great outlook to the rear garden. To your left is a warm and cosy family room which accesses your multiple gardens and a superb outdoor in ground pool. Whilst to the right consists of genuine double bedrooms all serviced by a new bathroom and separate toilet. All bedrooms are fitted with built in robes making this an ideal home for all buyers.</p>
        <p>Outside just gets better with your open decking area which is ideal for reading that book in the morning sun or for entertaining friends in the summer months. Imagine being poolside and spending that much needed quality time always required with your family.</p>
    </div>
</div>


<div class="panel panel-default profile">
    <div class="panel-heading">
        <h3 class="panel-title" style="color: #16243E"><strong>7 Sophi Court Mulgrave</strong></h3>
    </div>
    <div class="panel-body profileDesc">
        <p>There is simply no other way to describe this superb residence situated in an exclusive pocket of Mulgrave. This grand home offers uncompromised space, luxury living and style making it one of the area's most prestigious sought after homes which will be your ideal next move, all on a large block of around 780sqm.</p>
        <p>Suiting all types of buyers searching for an exquisite property and offering more space and accommodation in every direction with both internal and external living areas making it ideal for the large families. This quality family home has been fastidiously maintained over the years and now needs a new owner to begin its next chapter.</p>
        <p>All the hard work has been done with two great living areas accompanied by a stunning modern kitchen complete with all upgrades. These living areas are accompanied by four spacious bedrooms and a central bathroom. </p>
        <p>Add to this a relaxed open outdoor entertainment area perfect for entertaining which also leads to a fifth bedroom complete with full-ensuite. Outside the trend continues with superb low maintained gardens front and back whilst the double garage can be another entertainment space if required.</p>
    </div>
</div>


