@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1" style="background-color: #FFF;">
        <h1 style="text-align: center">Your Local Agent</h1>
        <img src="~/Images/New%20Joint%20Pic.JPG" class="img-responsive" />
        <p class="homeDescription"  >
            Boutique Estate Agency is local to Dandenong North and Mulgrave and covers a wide range of
            suburbs in the South Eastern area. Providing a highly experience team combined with a genuine
            hands on approach has helped Boutique Estate to become a priority when choosing the right agent.
        </p>
        <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-large">Learn more &raquo;</a></p>


    </div>
</div>
