
@*<div class="row">
    <img src="~/Images/jointDetails.JPG" class="img-thumbnail col-sm-8 col-sm-offset-2" />
</div>*@

<div class="panel panel-default profile" >
    <div class="panel-heading">
        <h3 class="panel-title" style="color: #16243E"><strong>Selling Tips</strong></h3>
    </div>
    <div class="panel-body profileDesc">
       
        <p>Remember that if a potential buyer makes it past the outside, it’s the interior of the home that makes the sale. There are plenty of easy and inexpensive changes that you can make to improve your home’s interior.</p>
        <p><strong>A clean home is your number one priority</strong></p>
        <img src="~/Images/clean2.jpg" class="img-thumbnail img-responsive pull-left" style="display: inline-block; margin: 0 30px 30px 0" />
        <p>Your windows, floors, tiles, bathtubs and showers should sparkle, your heating and air conditioning filters should be cleaned, dirty carpets should be shampooed or steam cleaned, dripping faucets and oil squeaky doors should be repaired and your home should be kept neat, clean and tidy at all times. Also, consider how your home smells to other people, you may be used to the smell of a pet or cigarettes, but such odors can be a strong turn-off to potential buyers. Ensure storage areas are tidy as well, and remove materials that may be of offense to others beliefs or sense of humor. </p>
        <p><strong>Creating a vision</strong></p>
        <p>The buyers need to be able to visualize themselves living in your space, too much clutter can be a distraction that can make it harder for them to achieve that vision. If you have too much furniture consider putting some in storage. If you haven’t got enough furniture try renting some. If you need some ideas visit a show home to see the levels of furnishings and decoration that is not too distracting.</p>
        <p><strong>Define living spaces</strong></p>
        <p>Having a living room/office/dining room/ storage locker can be a negative to buyers, not having an obvious purpose for a room makes it look less useful. Rearrange furniture to create focus areas inside of a larger room, define the spaces through a good layout.</p>
        <p><strong>Power of Paint</strong></p>
        <img src="~/Images/paint.jpg" class="img-thumbnail img-responsive pull-left" style="display: inline-block; margin: 0 30px 30px 0" />
        <p>Painting is an inexpensive and easy way to give a room a makeover. You can paint a room in less than a day. If a room needs a fresh coat of paint, use a neutral off-white. Provide a blank canvas for them to create their vision. Light colors make the rooms seem larger, and airier. A fresh coat of paint also looks cleaner.</p>
        <p><strong>Security</strong></p>
        <p>Be certain to remove valuables such as jewelry and other items from view. It might be wise to put these items in a safe deposit box before showing your home.</p>
        <p><strong>Setting the Mood</strong></p>
        <p>On open house days give your house a homey feeling, put out some fresh flowers and fresh guest towels in the bathroom. Place scented potpourri around the house or better still, pop a batch of frozen cinnamon rolls into the oven for a welcoming aroma.</p>
        <p>Remember, cosmetic changes do not have to be expensive, and giving the impression that your home is well maintained will help you get the price you want.</p>

        <p><strong>Tips for selling your home faster, for the highest possible price</strong></p>
        <p>We suggest you consider the following helpful hints while your home is on the market. Some of these points can assist you in achieving a quicker sale, give your home more sales appeal and of course, achieve the best price. We have contacts with the right people who will help you, so don’t hesitate to discuss your concerns with us. We are here to assist you and make your sale as easy as possible.</p>
        <img src="~/Images/clean.jpg" class="img-thumbnail img-responsive pull-left" style="display: inline-block; margin: 0 30px 30px 0" />
        <p><strong>Exterior:</strong></p>
        <ul>
            <li>Other people’s mess always looks worse that your own. From the moment prospects arrive they are making an internal commentary on everything they see.</li>
            <li>Gardens and lawns should be well presented; rubbish should be disposed of, paths kept clean, toys and garden tools stored away.</li>
            <li>Check all windows and fly screens. Make sure they are in working order. Fix any cracks or holes. Replace broken or cracked panes.</li>
            <li>Clean barbeque and outside entertainment areas. Make them look attractive and as inviting as possible.</li>
            <li>This is a good time to get rid of any unwanted bits. Have a garage sale and make a bit of money, or make a donation to your favourite charity.</li>
            <li>Clean and tidy your garage and storage areas. If you have a workshop make it look clean and efficient – even if you aren’t a handyperson.</li>
            <li>Remove any oil stains from the garage floor and the driveway.</li>
            <li>Make sure the garbage and recycling bins are unobtrusive and tidy.</li>
            <li>Replace any cracked tiles on the roof. Check the guttering to make sure it is sound and not clogged with leaves. Replace rusted or sagging sections.</li>
            <li>Check all fencing. Replace any palings that have fallen down and repair holes that may have been made by pets or children.</li>
            <li>Check brickwork. Make sure that the pointing is sound. If your house is cement rendered make sure there are no cracks.</li>
            <li>Check your pool and its surrounds. Make sure there are no cracks and that it meets the legal requirements for safety fencing.</li>
        </ul>
        <img src="~/Images/clean3.jpg" class="img-thumbnail img-responsive pull-left" style="display: inline-block; margin: 0 30px 30px 0" />
        <p><strong>Interior:</strong></p>
        <ul>
            <li>Let the sun shine in. Dark houses are rather gloomy, so pull back the drapes, open those blinds or switch on a few lights. A bright house could make it the right&nbsp;house.</li>
            <li>Check walls for blemishes in paintwork or wallpaper, for signs of damp and loose plaster.</li>
            <li>Make sure all doors operate quietly and smoothly and that all latches and locks work.</li>
            <li>Ceilings can make a room look small and shabby. Make sure cornices and ceilings are clean and not cracked, if necessary repaint them.</li>
            <li>Examine floor tiles and replace or repack any that have undue movement. Check floor coverings and get carpets clean, if necessary or replace if badly worn or stained.</li>
            <li>Check the plumbing and replace any leaking tap washers. Make sure water in bath and sink drains away quickly.</li>
            <li>A warm, comfortable heated home on cold days adds a feeling of coziness and welcome. On a hot day make sure your home is well ventilated and cool.</li>
            <li>Smokers and dog owners beware; nothing makes a buyer want to get out of a property quicker than stale air. Room deodorizers, a bowl of pot pouri and open windows will all help.</li>
            <li>Keep your pets out of the way, preferably out of the house. Let the agent and buyer talk undisturbed.</li>
            <li>Storage space is a great bonus in any home. Try to give the impression that your home has lots of it. Neat, well organized cupboards will show the space is ample</li>
            <li>Avoid having too many people present during inspections.</li>
            <li>Your property consultant knows the buyers’ requirements and can better emphasize the features of your home to prospective purchasers.</li>
        </ul>
    </div>
</div>

